<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Weekly Log</title>
    <!-- CSS links -->
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/main.css">
    <!-- Google font CDN -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap" rel="stylesheet">
</head>

<body>
    <div class="title">
        <div id="header">
            <h1><em>the</em> Weekly Log {(<>)}</h1>
        </div>
    </div>
    <div class="title">
        <div id="anchors">
            <div id="homeId" class="anchorBtn">Home</div>
            <div class="spaceMain"></div>
            <div id="dashboardId" class="anchorBtn">Dashboard</div>
            <div class="spaceMain"></div>
            <div id="loginId" class="loginoutBtns hideMain">Login</div>
            <div class="spaceMain"></div>
            <div id="logoutId" class="loginoutBtns hideMain">Logout</div>
        </div>
    </div>

    <div class="content">
        {{{ body }}}
    </div>

    <!-- JavaScript link -->
    <script src="/js/main.js"></script>
</body>

</html>
