<head>
    <link rel="stylesheet" href="/css/dashboard.css">
</head>

<body>
    <p class="dashboardTitle">{{user.username}}Your Posts 📮 </p>
    
    <div id="postsContainer">
        {{#each posts}}
            <div class="userDashboards" data-id="{{id}}">
                <h3>{{title}}</h3>
                <p class="dateDashboard">{{format_date createdAt}}</p>
            </div>
        {{/each}}
    </div>

    <div id="noPostsMessage" class="hideNoPostsM">
        <p>😞 Nothing here...</p>
        <p>Click the '<u>New Post+</u>' button to create a post!</p>
    </div>

    <!-- JavaScript link -->
    <script src="/js/dashboard.js"></script>
</body>

