<head>
    <link rel="stylesheet" href="/css/dashboard.css">
</head>

<body>
    <p class="dashboardTitle">{{user.username}}'s Posts</p>
    
    {{#each posts}}

        <div class="userDashboards">
            <h3>{{title}}</h3>
            <p class="dateDashboard">{{format_date createdAt}}</p>
        </div>

    {{/each}}

    <!--! JavaScript link -->
    <script src="/js/dashboard.js"></script>
</body>