<!DOCTYPE html>
<html lang="en">

<head>
    <!--! CSS links -->
    <link rel="stylesheet" href="/public/css/reset.css">
    <link rel="stylesheet" href="/public/css/signup.css">
    <!-- Google font CDN -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap" rel="stylesheet">
</head>

<body>
    <h1>Sign Up</h1>
    <div id="signupCard">
        <input placeholder="username"></input>
        <!-- <div class="space"></div> -->
        <input placeholder="email"></input>
        <!-- <div class="space"></div> -->
        <input placeholder="password"></input>
        <button>Sign up!</button>
    </div>
    <div id="login">Log in instead</dix>

    
    <!--! JavaScript link -->
    <!-- <script src="./assets/js/script.js"></script> -->
</body>

</html>