<head>
    <link rel="stylesheet" href="/css/editPost.css">
</head>

<body>

    <div class="editPostCard">
        <div class="titleEditPost">
            <h3>Edit Post</h3>
            <div class="titleSpace"></div>
        </div>
        <div class="editPostText">
            <p>Title</p>
            <textarea>{{title}}</textarea>
            <div class="epSpace"></div>
            <p>Content</p>
            <textarea class="EditTextareaContent">{{content}}</textarea>
            <div class="buttons">
                <button id="updateBtn">Update</button>
                <button id="deleteBtn">Delete</button>
                <button id="cancelBtn">Cancel</button>
            </div>
        </div>
    </div>

    <!--! JavaScript link -->
    <script src="/js/editPost.js"></script>
</body>