<head>
    <link rel="stylesheet" href="/css/newPost.css">
</head>

<body>

    <div class="createPostCard">
        <div class="titleCreatePost">
            <h3>Edit Post</h3>
            <div class="titleSpace"></div>
        </div>
        <div class="CreatePostText">
            <p>Title</p>
            <textarea></textarea>
            <div class="cpSpace"></div>
            <p>Content</p>
            <textarea class="textareaContent"></textarea>
            <div class="buttons">
                <button>Update</button>
                <button>Delete</button>
                <button>Cancel</button>
            </div>
        </div>
    </div>

    <!--! JavaScript link -->
    <script src="/js/newPost.js"></script>
</body>