<head>
    <link rel="stylesheet" href="/css/homePage.css">
</head>

<body>
    {{#each posts}}

        <div class="postCard">
            <div class="titlePostCard">
                <h3>{{title}}</h3>
                <div class="titleSpace"></div>
                <p class="userData">by {{user.username}} on {{format_date createdAt}}</p>
            </div>
            <div class="postCardText">
                <p>{{content}}</p>
            </div>
        </div>
    {{/each}}


    <!--! JavaScript link -->
    <script src="/js/homePage.js"></script>
</body>
    
