<!DOCTYPE html>
<html lang="en">

<head>
    <!--! CSS links -->
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/login.css">
    <!-- Google font CDN -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap" rel="stylesheet">
</head>

<body>
    <h2>Log In</h2>
    <div id="loginCard">
        <input id="usernameLogin" placeholder="username"></input>
        <!-- <div class="space"></div> -->
        <input id="passwordLogin" type="password" placeholder="password"></input>
        <button id="loginButton">Log In!</button>
    </div>
     
    <div id="signup">
        <p>Not a member?</p>
        <p>Sign up here!</p>
    </div>

    <div id="errorMessage" class="hide">
        <p>We cannot find your account 🥺 Please verify email or/and password fields</p>
    </div>

    
    <!--! JavaScript link -->
   <script src="/js/login.js"></script>
</body>

</html>