<head>
    <link rel="stylesheet" href="/css/newPost.css">
</head>

<body>
    <h2>WAKAKAKA</h2>
    <div id="signupCard">
        <input placeholder="username"></input>
        <!-- <div class="space"></div> -->
        <input placeholder="email"></input>
        <!-- <div class="space"></div> -->
        <input type="password" placeholder="password"></input>
        <button>Sign up!</button>
    </div>
    <div id="loginIns">Log in instead</dix>

    
    <!--! JavaScript link -->
    <!-- <script src="./assets/js/script.js"></script> -->
</body>