<head>
    <link rel="stylesheet" href="/css/newPost.css">
</head>

<body>

    <div class="createPostCard">
        <div class="titleCreatePost">
            <h3>New Post</h3>
            <div class="titleSpace"></div>
        </div>
        <div class="CreatePostText">
            <form id="newPostForm">
                <p>Title</p>
                <textarea id="postTitle"></textarea>
                <div class="cpSpace"></div>
                <p>Content</p>
                <textarea id="postContent" class="textareaContent"></textarea>
                <div id="createBtnBox">
                    <button id="createBtn">+ Create</button>
                    <button id="cancelBtn">Cancel</button>
                </div>
            </form>
        </div>
    </div>

    <!-- JavaScript link -->
    <script src="/js/newPost.js"></script>
</body>
