<head>
    <link rel="stylesheet" href="/css/newPost.css">
</head>

<body>

    <div class="createPostCard">
        <div class="titleCreatePost">
            <h3>New Post</h3>
            <div class="titleSpace"></div>
        </div>
        <div class="CreatePostText">
            <p>Title</p>
            <textarea></textarea>
            <div class="cpSpace"></div>
            <p>Content</p>
            <textarea class="textareaContent"></textarea>
            <button>+ Create</button>
        </div>
    </div>

    <!--! JavaScript link -->
    <script src="/js/newPost.js"></script>
</body>