

<head>
    <!--! CSS links -->
    {{!-- <link rel="stylesheet" href="/css/reset.css"> --}}
    <link rel="stylesheet" href="/css/signup.css">
    <!-- Google font CDN -->
    {{!-- <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap" rel="stylesheet"> --}}
</head>

<body>
    <h2>Sign Up</h2>
    <div id="signupCard">
        <input placeholder="username"></input>
        <!-- <div class="space"></div> -->
        <input placeholder="email"></input>
        <!-- <div class="space"></div> -->
        <input type="password" placeholder="password"></input>
        <button>Sign up!</button>
    </div>
    <div id="loginIns">Log in instead</dix>

    
    <!--! JavaScript link -->
    <!-- <script src="./assets/js/script.js"></script> -->
</body>

