:root {
    --fontPlex: "IBM Plex Mono", monospace;
    --primaryColor: #528ac5;
    --secondaryColor: #6C757D;
    --accentColor: #28A745;
    --backgroundColor: #cde2f8;
    --textColor: #343A40;
    --highlightColor: #d3b24e;
}

body {
    font-family: var(--fontPlex);
    background-color: var(--secondaryColor);
    color: var(--textColor);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.content {
    flex: 1;
}

#anchors {
    /* background-color: green; */
    display: flex;
    padding: 10px;
    font-size: 150%;
    align-items: center;
}

.title {
    background-color: var(--primaryColor);
    padding: 15px;
}

#header {
    background-color: var(--highlightColor);
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px #746a4e;
}

.space {
    width: 40px;
}

#logout {
    background-color: rgba(202, 112, 70, 0.588);
    border-radius: 5px;
    padding: 5px;
    transition: ease-out 0.2s;
}

#logout:hover {
    background-color: rgb(207, 80, 20);
    color: white;
    transition: ease-in 0.1s;
}


#login {
    background-color: rgba(124, 162, 75, 0.595);
    border-radius: 5px;
    padding: 5px;
    transition: ease-out 0.2s;
}

#login:hover {
    background-color: rgb(109, 185, 16);
    color: white;
    transition: ease-in 0.1s;
}

.anchorBtn {
    transition: transform 0.05s;
    transition: ease-in-out 0.15s;
}

.anchorBtn:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #a6adb3;
}

.anchorBtn:active {
    transform: scale(0.95);
}

.loginoutBtn {
    transition: transform 0.05s;
}

.loginoutBtn:hover {
    cursor: pointer;
}

.loginoutBtn:active {
    transform: scale(0.95);
}

footer {
    background-color: var(--primaryColor);
    text-align: center;
    color: var(--backgroundColor);
    padding: 10px;
    margin-top: auto;
}