h2 {
    text-align: center;
    margin-top: 25px;
    color: var(--backgroundColor);
}

#signupCard {
    background-color: #d763a7a2;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    font-size: 160%;
    height: 300px;
    justify-content: space-between; 
}

input {
    border-radius: 5px;
    text-align: center;
    border-width: 1px var(--highlightColor);
    box-shadow: 10px 10px var(--textColor);
    height: 40px;

}

input::placeholder {
    color: rgb(186, 186, 186);
    font-style: italic;
    text-align: center;
}

.space {
    margin-top: 10px;
}

#loginIns {
    text-align: center;
    color: var(--backgroundColor);
    font-size: 130%;
    transition: transform 0.2s;
    transition: ease-in-out 0.15s;
}

#loginIns:hover {
    cursor: pointer;
    text-decoration: underline;
    color: white;
    font-size: 140%;
}

#loginIns:active {
    transform: scale(0.92);
}

#signupBox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.spaceLoginBox{
    width: 10px;
}

button {
    width: fit-content;
    align-self: center;
    border-radius: 5px;
    padding: 10px;
    transition: transform 0.2s;
    transition: ease-in-out 0.15s;
}

button:hover {
    cursor: pointer;
    background-color: var(--highlightColor);
    color: white;
    padding-left: 17px;
    padding-right: 17px;
}

button:active {
    transform: scale(0.95);
}

#errorMessageSignup {
    text-align: center;
    background-color: red;
    padding: 20px;
    font-size: 130%;
    color: white;
    margin-top: 20px;
}

.hide {
    display: none;
}

@media (max-width: 720px) {
    #signupCard {
        height: 280px;
        font-size: 130%;
    }
}
