<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Weekly Log</title>
    <!--! CSS links -->
    <link rel="stylesheet" href="/public/css/reset.css">
    <link rel="stylesheet" href="/public/css/main.css">
    <!--? homePage.handlebars link -->
    <!-- Google font CDN -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap" rel="stylesheet">
</head>

<body>
    <div class="title">
        <div id="header">
            <h1><em>the</em> Weekly Log {(<>)}</h1>
        </div>
    </div>
    <div class="title">
        <div id="anchors">
            <div id="home" class="anchorBtn">Home</div>
            <div class="space"></div>
            <div id="dashboard" class="anchorBtn">Dashboard</div>
            <div class="space"></div>
            <div id="login" class="loginoutBtn">Login</div>
            <div class="space"></div>
            <div id="logout" class="loginoutBtn">Logout</div>
        </div>
    </div>

    <div class="content">
        {{{ body }}}
    </div>

    <footer>
        <p>the Weekly Log ©️</p>
        <p>- 2024 -</2024></p>
    </footer>

    
    <!--! JavaScript link -->
    <!-- <script src="./assets/js/script.js"></script> -->
</body>

</html>